body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


//moje
$header_width: 300px;

body {
    display: flex;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1800px;
    width: 96%;
    margin: 0 auto;
}

.two-columns {
    display: flex;
    align-items: flex-start;
    width: 100%;

    .column-fixed {
        position: fixed;
        width: $header_width;
        align-items: stretch;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #222;
        border-color: #080808;
    }

    .column-content {
        display: flex;
        padding-left: $header_width;
        width: 100%;
    }
}

header {
    color: #fff;
    background-color: transparent;

    .two-columns & {
        display: flex;
        position: static;
        margin: 0;
        max-height: 100%;
    }
}

footer {
    color: #fff;
}

.main-school-app {
    .navbar-header {
        float: none;
    }

    ul {

        li {
            float: none;
        }
    }
}

.school-box-item {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.15);
    margin: 20px auto;
    padding: 10px 15px;
}

main {
    > .container {
        @extend .school-box-item;
    }
}

.container {
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    tbody tr{

    }
    tbody tr {
        &:nth-child(even) {
            background-color: #ededed;
        }
    }
}
