@using Microsoft.AspNet.Identity

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
{
    @Html.AntiForgeryToken()

    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

}

